body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #001EDE;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #36a100;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px 20px;
}
